* {
  margin: unset;
}

h1,
h2,
h3,
h3,
p {
  margin: revert;
}

:root {
  color-scheme: light dark;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

main {
  display: grid;
  grid-template-columns: max(400px, 20vw) 1fr;
  overflow-y: hidden;

  .contents {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
    .items {
      overflow-y: auto;
    }
  }
  .text {
    overflow-y: auto;
  }
}

.searchMatch {
  background-color: lightyellow;
  @media (prefers-color-scheme: dark) {
    color: black;
  }
}
