@import "reset.css";

:root {
  --skog: #133600;
  --lime: #e0ffb2;
  --gran: #347103;
  --background: rgb(253, 252, 236);
  font-family: bureau-sans, helvetica, sans-serif;
}

:root {
  background-color: var(--background);
  color: var(--skog);
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

header {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;

  .icon img {
    width: 4em;
    aspect-ratio: 1;
  }

  font-weight: bold;

  a {
    text-decoration: none;
  }

  @media (width < 500px) {
    .sectionHeader {
      display: none;
    }
  }
}

main {
  display: grid;
  grid-template-columns: max(400px, 20vw) 1fr;
  overflow-y: hidden;

  .contents {
    display: grid;
    height: 100%;
    overflow-y: hidden;
    .items {
      overflow-y: auto;
    }
  }
  .text {
    overflow-y: auto;
    padding: 1em;
    .text-area {
      max-width: 80ch;
      margin-inline: auto;
    }
  }
}

.searchMatch {
  background-color: var(--lime);
  color: var(--gran);
  @media (prefers-color-scheme: dark) {
    color: black;
  }
}
